{% extends 'app/base.html' %}

{% load static %}

{% block title %}About{% endblock title %}

{% block main-content %}
    <div class="container mt-3">
        <br>
        <h2 class="text-center">About Us</h2>
        <br>
        <div class="row container">
            <p class="fs-4 text-center">Kiplongu's Cafe is a milk-based products and by-products selling cafe. The cafe specializes in selling different varieties of milk-based products such as milkshakes, ice creams, yogurt, and cheese. The cafe is known for its high-quality and fresh dairy products made from locally sourced milk. Kiplongu's Cafe is a popular destination for dairy lovers and people looking for healthy and tasty snacks. In addition to dairy products, the cafe also serves a range of hot and cold beverages, sandwiches, and pastries. The cafe's welcoming atmosphere, friendly staff, and delicious food make it a must-visit place for anyone in the area. It is located at KVDA Plaza, along Eldoret-Kabarnet road</p>
        </div>
        <br><br>
        <h2 class="text-center">Mission</h2>
        <br>
        <div class="row container">
            <p class="fs-4 text-center">To embrace the right Technology to delight our customers. Empowering the farmer community through our unique 'Relationship Farming' Model. To anticipate, understand and respond to our Customer's needs by creating high-quality products and making them available through innovative and convenient channels.  </p>
        </div>
    </div>
{% endblock main-content %}